/* Structure */
.container {
  position: relative;
  min-height: 200px;
}

table {
  width: 100%;
}

.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.alignInGrid {
  width: 100%;
  top: 10px;
}

.centerLeft {
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.padding10 {
  padding: 10px;
}

.list{
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 100%;
}

:host /deep/ .mat-card-header-text {
  margin: 0;
}

.cards-desktop{
  margin: 10px; 
  width: fit-content; 
  height:300px; 
  display: inline-block; 
}

.cards-mobile{
  margin-top: 10px; 
  width: 100%; 
  height:fit-content; 
  display: inline-block; 
}
