.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.alignInGrid {
  width: 100%;
  top: 10px;
}

.centerLeft {
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.padding10 {
  padding: 10px;
}

:host /deep/ .mat-card-header-text {
  margin: 0;
}

.cards-desktop{
  margin: 10px; 
  width: fit-content; 
  height:300px; 
  display: inline-block; 
}

.cards-mobile{
  margin-top: 10px; 
  width: 100%; 
  height:fit-content; 
  display: inline-block; 
}