<div class="loading-shade" *ngIf="isLoadingResults==true">
  <mat-spinner></mat-spinner>
</div>

<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Consumed food
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <app-consumed-food #consumedFood></app-consumed-food>
  </div>
</mat-expansion-panel>

<mat-form-field appearance="standard" style="width: 100%;">
  <mat-label>Food name</mat-label>
  <input matInput (keyup.enter)="search()" [(ngModel)]="searchTextBox" />
  <button mat-button *ngIf="searchTextBox" matSuffix mat-icon-button aria-label="Clear" (click)="searchTextBox=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="justify-right">
  <mat-icon (click)="search()">search</mat-icon>
</div>
<div class="justify-right">
  <span>
    <mat-form-field appearance="standard">
      <mat-label>filter by category</mat-label>
      <mat-select [(ngModel)]="selectedCategory">
        <mat-option *ngFor="let category of foodCategories; let i = index" value={{category.catName}}
          (click)="onCategoryChange(true)">
          {{category.catName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button *ngIf="selectedCategory" matSuffix mat-icon-button aria-label="Clear"
      (click)="onCategoryChange(false)">
      <mat-icon>close</mat-icon>
    </button>
  </span>
  <span class="spacer"></span>
  <span style="top: 50%;">
    <mat-icon [matMenuTriggerFor]="sort">sort_by_alpha</mat-icon>
    <mat-icon (click)="toggleSort()">{{getSortIcon()}}</mat-icon>
    <mat-menu #sort="matMenu">
      <button *ngFor="let opt of sortOptions; index as i" (click)="onSortChange(opt)"
        mat-menu-item>{{opt.value}}</button>
    </mat-menu>
  </span>
</div>

<div class="cards-{{stateTextForStyle()}}" *ngFor="let row of data; index as i">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{row.foodDescription.name}}</mat-card-title>
      <mat-card-subtitle>{{row.foodCategory.catName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div *ngIf="!row.edit">
        <div style="margin-top: 10px; margin-bottom: 10px;">{{!!row.foodDescription.description ?
          row.foodDescription.description : 'No description'}}</div>
        <table class=".mat-card-content">
          <tr>
            <td class="mat-header-cell cdk-header-cell cdk-column-name mat-column-name ng-star-inserted"
              style="width: 120px;">Calories:</td>
            <td style="width: fit-content;" class="mat-cell cdk-cell cdk-column-name mat-column-name ng-star-inserted">
              {{row.calories}}</td>
          </tr>
          <tr>
            <td class="mat-header-cell cdk-header-cell cdk-column-name mat-column-name ng-star-inserted"
              style="width: 120px;">Proteins:</td>
            <td style="width: fit-content;" class="mat-cell cdk-cell cdk-column-name mat-column-name ng-star-inserted">
              {{row.proteins}}</td>
          </tr>
          <tr>
            <td class="mat-header-cell cdk-header-cell cdk-column-name mat-column-name ng-star-inserted"
              style="width: 120px;">Carbohidrates:</td>
            <td style="width: fit-content;" class="mat-cell cdk-cell cdk-column-name mat-column-name ng-star-inserted">
              {{row.carbs}}
            </td>
          </tr>
          <tr>
            <td class="mat-header-cell cdk-header-cell cdk-column-name mat-column-name ng-star-inserted"
              style="width: 120px;">Fats:</td>
            <td style="width: fit-content;" class="mat-cell cdk-cell cdk-column-name mat-column-name ng-star-inserted">
              {{row.fats}}
            </td>
          </tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="add(row)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-paginator #paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>