.table-container {
  position: relative;
  max-height: fit-content;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-name
{
  width: 100%;
}

.mat-column-qty, .mat-column-calories, .mat-column-action
{
  width: fit-content;
}

.mat-cell, .mat-header-cell {
  padding: 0px 0px 0px 0 !important;
}
