@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-color: #212121;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
.breadcrumb {
  padding: 0px;
  font-size: small;
}
.title {
  margin: 8px;
  font-size: 12pt;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.justify-right{
  border: 3px;
  display:flex; 
  justify-content:flex-end;
  align-items: center;
}
.spacer {
  flex: 1 1 auto;
}

.paginator{
  padding-top: 20px ; padding-bottom: 40px ;
}