@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
.breadcrumb {
  padding: 30px;
}
.title {
  margin: 8px;
  font-size: 12pt;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
