<div class="table-container">
  <table mat-table #MatTable [dataSource]="userService.getEachConsumedFood()" class="table" matSort
    matSortActive="food.foodDescription.name" matSortDisableClear matSortDirection="asc">
    <ng-container matColumnDef="name" class="col-name-desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">
        <span>{{row.food.foodDescription.name}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="calories">
      <th mat-header-cell *matHeaderCellDef>Cal</th>
      <td mat-cell *matCellDef="let row">
        <span>{{userService.getRound(row.food.calories * row.qty/100)}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef>Qty</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field *ngIf="row.edit" appearance="fill">
          <input matInput type="number" [(ngModel)]="row.qty" value="{{row.qty}}" />
        </mat-form-field>
        <span *ngIf="!row.edit">{{row.qty}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-icon (click)="delete(row.id)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="sub-title">Consumed</div>
<table class=".mat-card-content">
  <tr>
    <td class="mat-header-cell" style="width: 120px;">Calories:</td>
    <td style="width: 100%;" class="mat-cell">
      {{userService.getConsumedFood().calories}}</td>
  </tr>
  <tr>
    <td class="mat-header-cell" style="width: 120px;">Proteins:</td>
    <td style="width: 100%;" class="mat-cell">
      {{userService.getConsumedFood().proteins}}</td>
  </tr>
  <tr>
    <td class="mat-header-cell" style="width: 120px;">Carbohidrates:</td>
    <td style="width: 100%;" class="mat-cell">
      {{userService.getConsumedFood().carbs}}
    </td>
  </tr>
  <tr>
    <td class="mat-header-cell" style="width: 120px;">Fats:</td>
    <td style="width: 100%;" class="mat-cell">
      {{userService.getConsumedFood().fats}}
    </td>
  </tr>
</table>

<mat-divider></mat-divider>
<div class="sub-title">Remaining</div>
<table class=".mat-card-content">
  <tr>
    <td class="mat-header-cell" style="width: 120px;">Calories:</td>
    <td style="width: 100%;" class="mat-cell">
      {{userService.getAvailableCallories()}}</td>
  </tr>
  <tr>
    <td class="mat-header-cell" style="width: 120px;">Proteins:</td>
    <td style="width: 100%;" class="mat-cell">
      {{userService.getAvailableProteins()}}</td>
  </tr>
  <tr>
    <td class="mat-header-cell" style="width: 120px;">Carbohidrates:</td>
    <td style="width: 100%;" class="mat-cell">
      {{userService.getAvailableCarbs()}}
    </td>
  </tr>
  <tr>
    <td class="mat-header-cell" style="width: 120px;">Fats:</td>
    <td style="width: 100%;" class="mat-cell">
      {{userService.getAvailableFats()}}
    </td>
  </tr>
</table>